# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/[인프런] 코테재활치료/Dev-Cpp/*

!/[인프런] 코테재활치료/강의+자료/
/[인프런] 코테재활치료/강의+자료/*
!/[인프런] 코테재활치료/강의+자료/[MySolution]/

/[인프런] 코테재활치료/강의+자료/CPS(소스파일)/*
/[인프런] 코테재활치료/강의+자료/CPS(채점폴더)/*
/[인프런] 코테재활치료/강의+자료/섹션5 (강의자료)/*


*.dev
*.layout
*.win
!*.cpp